    </main>
    <footer class="page-footer black">
      <div class="footer-copyright">
        <div class="container">
          <img src="/assets/afz_team.png" height=20px>
          <a class="grey-text text-lighten-4 right" style="font-size: 11px; text-align: center; margin-left: 5px; margin-right: 0px; margin-top: 4px" href="/about">
            About
          </a>
          <a class="grey-text text-lighten-4 right" style="font-size: 11px; text-align: center; margin-left: 5px; margin-right: 5px; margin-top: 4px" href="/privacy">
            個人情報保護方針
          </a>
          <a class="grey-text text-lighten-4 right" href="https://instagram.com/AFZJapan" target="_blank">
            <img src="/assets/menu/instagram.png" height=20px style="margin-left: 5px; margin-right: 5px; margin-top: 2px" />
          </a>
          <a class="grey-text text-lighten-4 right" href="https://x.com/@AFZJapan" target="_blank">
            <img src="/assets/menu/twitter.png" height=20px style="margin-left: 5px; margin-right: 5px; margin-top: 2px" />
          </a>
        </div>
      </div>
    </footer>
    <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    {% for js in layout.js %}
    {% if js contains "//" %}
    <script src="{{js}}"></script>
    {% else %}
    <script src="{{site.baseurl}}/assets/js/{{js}}"></script>
    {% endif %}
    {% endfor %}
    {% for js in page.js %}
    {% if js contains "//" %}
    <script src="{{js}}"></script>
    {% else %}
    <script src="{{site.baseurl}}/assets/js/{{js}}"></script>
    {% endif %}
    {% endfor %}
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
  </body>
</html>
