<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/img/favicon.ico">

    <title>
      {% if page.title %}
      {{ page.title | escape }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}
    </title>

    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/img/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/menu.css">
    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/social.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=info" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml">
    {% seo title=false %}

    <meta name="twitter:site" content="@afzjapan">
    <meta name="twitter:creator" content="@afzjapan" />

    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description | escape }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description | escape }}">
    {% endif %}

  </head>
  <body>
    <header>
      <div class="container hide-on-desktop">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
          <i class="material-icons afz-menu-icon">menu</i>
        </a>
      </div>
      <ul id="slide-out" class="side-nav fixed">
        <li class="logo">
            <img class=" z-depth-0" width="300" height="300" style="padding: 30px" src="{{site.baseurl}}/assets/img/afz.png">
        </li>

        <li>
          <ul class="profile-social-link">
            <li>
              <a class="grey-text text-lighten-4" href="https://instagram.com/AFZJapan" target="_blank"><img src="/assets/menu/instagram.png" height=20px style="margin-left: 5px; margin-right: 5px; margin-top: 14px" /></a>
            </li>
            <li>
              <a class="grey-text text-lighten-4" href="https://x.com/@AFZJapan" target="_blank"><img src="/assets/menu/twitter.png" height=20px style="margin-left: 5px; margin-right: 5px; margin-top: 14px" /></a>
            </li>
            <li>
              <a href="/about" style="color: #fff">
                <span class="material-symbols-outlined" style="margin-top: 12px">info</span>
              </a>
            </li>
          </ul>
        </li>

        <li style="margin-left: 4px"><a class="waves-effect" href="{{site.baseurl}}/"><i class="material-icons">home</i>{% if page.lang == "ja" %}ホーム{% else %}Home{% endif %}</a></li>
        <li style="padding-left: 6px"><a class="waves-effect" href="{{site.baseurl}}/what-is-bds"><img src="{{site.baseurl}}/assets/menu/handala.png" height="30" style="vertical-align:middle" />&nbsp;&nbsp;&nbsp;{% if page.lang == "ja" %}BDS運動とは{% else %}What is the BDS Movement?{% endif %}</a>
          <li><a class="waves-effect" href="{{site.baseurl}}/what-is-afz"><img src="{{site.baseurl}}/assets/menu/pin.png" height="30" style="vertical-align:middle" />&nbsp;{% if page.lang == "ja" %}AFZとは{% else %}What is AFZ?{% endif %}</a></li>
          <ul >
            <li style="padding-left: 30px"><a class="waves-effect" href="{{site.baseurl}}/what-you-can-do"><i class="material-icons">list</i>{% if page.lang == "ja" %}AFZとしてできること{% else %}What AFZs can do{% endif %}</a></li>
            <li style="padding-left: 30px"><a class="waves-effect" href="{{site.baseurl}}/register "><i class="material-icons">add_circle</i>{% if page.lang == "ja" %}AFZを登録する{% else %}Register as AFZ{% endif %}</a></li>
          </ul>
        </li>

        <li style="margin-left: 0px"><a class="waves-effect" href="{{site.baseurl}}/news"><i class="material-icons">newspaper</i>{% if page.lang == "ja" %}ニュース{% else %}News{% endif %}</a></li>

        <li style="padding-left: 6px"><a class="waves-effect" href="{{site.baseurl}}/palestine"><img src="{{site.baseurl}}/assets/menu/map.png" height="32" style="vertical-align:middle" />&nbsp;&nbsp;&nbsp;&nbsp;{% if page.lang == "ja" %}パレスチナについて学ぼう{% else %}Learn about Palestine{% endif %}</a>
          <ul>
            <li style="padding-left: 30px"><a class="waves-effect" href="{{site.baseurl}}/nakba"><i class="material-icons">key</i>{% if page.lang == "ja" %}ナクバについて{% else %}Nakba{% endif %}</a></li>
            <li style="padding-left: 30px"><a class="waves-effect" href="{{site.baseurl}}/occupation"><i class="material-icons">do_not_touch</i>{% if page.lang == "ja" %}イスラエルの占領について{% else %}What's Zionism{% endif %}</a></li>
            <li style="padding-left: 30px"><a class="waves-effect" href="{{site.baseurl}}/apartheid"><i class="material-icons">map</i>{% if page.lang == "ja" %}アパルトヘイトについて{% else %}Apartheid{% endif %}</a></li>
            <li><div class="divider"></div></li>
          </ul>
        </li>
        <li style="margin-left: 0px"><a class="waves-effect" href="{{site.baseurl}}/cinemadays2025"><i class="material-icons">movie</i>{% if page.lang == "ja" %}パレスチナ映画祭2025{% else %}Cinema Days 2025{% endif %}</a></li>
        </li>
        <li><a class="waves-effect" href="{{site.baseurl}}/faq"><i class="material-icons">question_answer</i>FAQ</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/links"><i class="material-icons">link</i>{% if page.lang == "ja" %}パレスチナ関連リンク集{% else %}Related links{% endif %}</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/downloads"><i class="material-icons">file_download</i>{% if page.lang == "ja" %}資料、ダウンロード{% else %}Downloads{% endif %}</a></li>
      </ul>
    </header>
    <main>
