<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>
      {% if page.title %}
      {{ page.title | escape }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}
    </title>

    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/img/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.27.1/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/social.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=info" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">

    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml">
    {% seo title=false %}

    <meta name="twitter:site" content="@afzjapan">
    <meta name="twitter:creator" content="@afzjapan" />

    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description | escape }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description | escape }}">
    {% endif %}

    <!-- General CSS Files -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/new-components.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/new-style.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/top.css">

  </head>

<body class="layout-2">
  <div id="app">
    <div class="header-graphic" style="z-index: 990">
      <span style="margin-left: 0px;"></span>
    </div>
    <div class="main-wrapper">
      <div class="navbar-bg">  <a href="/" class="navbar-brand sidebar-gone-show"><img class=" z-depth-0" width="36" height="36" style="padding: 0px; margin-left: 80px; margin-top: 6px" src="{{site.baseurl}}/assets/img/afz.png"></a></div>

      <nav class="navbar navbar-expand-lg main-navbar">
        <!-- a href="#" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a -->
        <a href="#" class="nav-link nav-link-lg navbar-right sidebar-gone-show" data-toggle="sidebar"><i class="fa-fw fas fa-stream"></i></a>
        <a href="/" class="navbar-brand sidebar-gone-hide"><img class=" z-depth-0" width="100" height="100" style="padding: 0px; margin-left: 60px; margin-right: 60px; margin-top: 60px" src="{{site.baseurl}}/assets/img/afz.png"></a>
        <div class="nav-collapse">
          <a class="sidebar-gone-show nav-collapse-toggle nav-link" href="#">
            <i class="fas fa-th"></i><!-- fa-ellipsis-v"></i -->
          </a>
          <ul class="navbar-nav mr-3">
            <li class="nav-item active"><a href="/" class="nav-link link"><i class="fa-fw fas fa-home"></i></a></li>
            <li class="nav-item"><a href="/news" class="nav-link font-weight-600 link">ニュース</a></li>
            <li class="nav-item dropdown d-inline">
              <a href="#" data-toggle="dropdown" class="nav-link font-weight-600 has-dropdown dropdown-toggle" aria-expanded="false"><span>キャンペーン</span></a>
              <ul class="dropdown-menu">
                <!-- li class="dropdown-item"><a href="pacbi" class="nav-link">学術ボイコット (PACBI)</a></li -->
                <!-- li class="dropdown-item"><a href="banwarcriminals" class="nav-link">戦争犯罪人を追放する</a></li -->
                <li class="dropdown-item"><a href="/noroom" class="nav-link">No Room For Genocide</a></li>
                <li class="dropdown-item"><a href="/redcardisrael" class="nav-link">Red Card Israel</a></li>
                <!-- li class="dropdown-item"><a href="/nota" class="nav-link">No Tech For Apartheid</a></li -->
              </ul>
            </li>
            <li class="nav-item">
              <a href="https://bdsjapanbulletin.wordpress.com/2024/01/27/%E3%81%A4%E3%81%AA%E3%81%8C%E3%82%8B%E6%8A%80%E8%A1%93/" target="_blank" data-cke-saved-href="https://bdsjapanbulletin.wordpress.com/2024/01/27/%E3%81%A4%E3%81%AA%E3%81%8C%E3%82%8B%E6%8A%80%E8%A1%93/" class="nav-link font-weight-600">ボイコットガイド <img src="/assets/icons/extlink.png" height="16px" style="margin-bottom: 5px"></a>
            </li>
            <!-- LATER li class="nav-item dropdown d-inline">
              <a href="#" data-toggle="dropdown" class="nav-link font-weight-600 has-dropdown dropdown-toggle" aria-expanded="false"><span><i class="fa-fw fas fa-tag"></i> </span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="vegan" class="nav-link">Vegan</a></li>
                <li class="dropdown-item"><a href="halal" class="nav-link">Halal</a></li>
                <li class="dropdown-item"><a href="events" class="nav-link">イベント</a></li>
              </ul>
            </li -->
          </ul>
        </div>

        <div class="sidebar-gone-hide nav-collapse" style="flex: 1;"></div>

        <table style="table-layout: fixed; padding: 0; border-bottom: 0px;" class="navbar-nav navbar-right sidebar-gone-hide">
          <tr style="padding: 0px;">
            <td align='right' style="vertical-align: middle; text-align: right; width:100%; padding: 0px; align: right">
              <div style="align: right; margin-left: 0px; margin-right: 0px">

                <li class="nav-item dropdown d-inline">
                  <a href="#" data-toggle="dropdown" class="has-dropdown font-weight-600" aria-expanded="false"><img src="{{site.baseurl}}/assets/icons/language.png" height=24px style="vertical-align: middle; margin-left: 5px; margin-right: 5px;" /></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item {% if page.url contains "/en" %}{% else %}active{% endif %}"><a href="/" class="nav-link">日本語</a></li>
                    <li class="dropdown-item {% if page.lang == "en" %}active{% endif %}"><a href="/en/" class="nav-link">English</a></li>
                  </ul>
                </li>

                <a href="https://instagram.com/AFZJapan" target="_blank"><img src="{{site.baseurl}}/assets/icons/instagram.png" height=20px style="vertical-align: middle; margin-left: 15px; margin-right: 5px;" /></a>
                <a href="https://share.upscrolled.com/en/user/0ed46244-923a-454a-9cbd-d8fac6aeff81/" target="_blank"><img src="{{site.baseurl}}/assets/icons/upscrolled.png" height=20px style="vertical-align: middle; margin-left: 5px; margin-right: 5px;" /></a>
                <a href="https://x.com/@AFZJapan" target="_blank"><img src="{{site.baseurl}}/assets/icons/twitter.png" height=20px style="vertical-align: middle; margin-left: 5px; margin-right: 5px;" /></a>
                <a href="/about"><img src="{{site.baseurl}}/assets/icons/info.png" height="20px" style="vertical-align: middle; margin-left: 15px; margin-right: 5px;" /></a>
              </div>
            </td>

            <td style="padding-left: 20px; margin-left: 40px"><img src="{{site.baseurl}}/assets/downloads/BDS_logo.png" style="float: right; width: 100px; margin-right: 10px;" /></td>
          </tr>
        </table>

      </nav>

      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand sidebar-gone-show"><a href="/"><img src="{{site.baseurl}}/assets/img/afz.png" height="100px" width="100px"></a></div>
          <ul class="sidebar-menu">

            <table style="table-layout: fixed; padding: 0; width: 100%;" class="sidebar-gone-show" width="100%">
              <tr style="padding: 0px;" align="center">
                <td width="2000px" style="text-align: center;"><a href="https://instagram.com/AFZJapan" target="_blank"><img src="{{site.baseurl}}/assets/icons/instagram.png" height=20px /></a></td>
                <td width="2000px" style="text-align: center;"><a href="https://upscrolled.com/@AFZJapan" target="_blank"><img src="{{site.baseurl}}/assets/icons/upscrolled.png" height=20px /></a></td>
                <td width="2000px" style="text-align: center;"><a href="https://x.com/@AFZJapan" target="_blank"><img src="{{site.baseurl}}/assets/icons/twitter.png" height=20px /></a></td>
                <td width="2000px" style="text-align: center;"><a href="/about"><img src="{{site.baseurl}}/assets/icons/info.png" height=20px /></a></td>
              </tr>
            </table>

            <li class="menu-header">AFZ・BDS</li>
            <li class="dropdown active">
              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><img src="{{site.baseurl}}/assets/icons/pin.png" height="20" style="vertical-align: middle; margin-right: 16px;" /> <span>AFZとは</span></a>
              <ul class="dropdown-menu">
                <li {% if page.url contains '/what-is-afz' %}class="active"{% endif %}><a class="nav-link" href="{{site.baseurl}}/{% if page.lang == "en" %}en/{% endif %}what-is-afz">{% if page.lang != "en" %}AFZについて{% else %}What's AFZ?{% endif %}</a></li>
                <li {% if page.url contains '/what-you-can-do' %}class="active"{% endif %}><a class="nav-link" href="{{site.baseurl}}/{% if page.lang == "en" %}en/{% endif %}what-you-can-do">{% if page.lang != "en" %}AFZとしてできること{% else %}What AFZs can do{% endif %}</a></li>
                <li {% if page.url contains '/register' %}class="active"{% endif %}><a class="nav-link" href="{{site.baseurl}}/{% if page.lang == "en" %}en/{% endif %}register">{% if page.lang != "en" %}AFZを登録する{% else %}Register as AFZ{% endif %}</a></li>
                <!-- li {% if page.url contains '/get-involved' %}class="active"{% endif %}><a class="nav-link" href="/get-involved">一緒に広げる</a></li -->
              </ul>
            </li>
            <li  {% if page.url contains '/what-is-bds' %}class="active"{% endif %}><a class="nav-link" href="{{site.baseurl}}/{% if page.lang == "en" %}en/{% endif %}what-is-bds"><img src="{{site.baseurl}}/assets/menu/handala.png" height="20px" style="vertical-align: middle; margin-right: 12px;" /> <span>{% if page.lang != "en" %}BDS運動とは{% else %}What's BDS?{% endif %}</span></a></li>

            <li class="menu-header">PALESTNIE</li>
            <li class="dropdown {% if page.url contains "/palestine" or page.url contains "/nakba" or page.url contains "/occupation" or page.url contains "/apartheid" %}active{% endif %}">
              <a href="#" class="nav-link has-dropdown"><img src="{{site.baseurl}}/assets/icons/map.png" height="20" style="vertical-align: middle; margin-right: 16px;" /> <span>{% if page.lang != "en" %}パレスチナについて{% else %}Palestine{% endif %}</span></a>
              <ul class="dropdown-menu">
                <li {% if page.url contains '/palestine' %}class="active"{% endif %}><a class="nav-link" href="/palestine">{% if page.lang != "en" %}パレスチナについて学ぼう{% else %}Learn about Palestine{% endif %}</a></li>
                <li {% if page.url contains '/nakba' %}class="active"{% endif %}><a class="nav-link" href="/nakba">{% if page.lang != "en" %}ナクバについて{% else %}Nakba{% endif %}</a></li>
                <li {% if page.url contains '/occupation' %}class="active"{% endif %}><a class="nav-link" href="/occupation">{% if page.lang != "en" %}シオニズムについて{% else %}Zionism{% endif %}</a></li>
                <li {% if page.url contains '/apartheid' %}class="active"{% endif %}><a class="nav-link" href="/apartheid">{% if page.lang != "en" %}アパルトヘイトについて{% else %}Apartheid{% endif %}</a></li>
              </ul>
            </li>

            <li class="menu-header">MISC</li>
            <li {% if page.url contains '/downloads' %}class="active"{% endif %}><a class="nav-link" href="/downloads"><i class="material-icons">file_download</i> <span>{% if page.lang != "en" %}資料、ダウンロード{% else %}Downloads{% endif %}</span></a></li>
            <li {% if page.url contains '/links' %}class="active"{% endif %}><a class="nav-link" href="/links"><i class="material-icons">link</i> <span>{% if page.lang != "en" %}関連リンク集{% else %}Related links{% endif %}</span></a></li>
            <li {% if page.url contains '/faq' %}class="active"{% endif %}><a class="nav-link" href="/faq"><i class="material-icons">question_answer</i> <span>FAQ</span></a></li>

            <!-- li class="menu-header">LANGUAGE</li -->
            <li class="sidebar-gone-show"><a class="nav-link" href="#"><img src="{{site.baseurl}}/assets/icons/language.png" height="24px" /></a>
              <ul class="dropdown-menu" style="display: flex;">
                <li class="nav-item {% if page.url contains "/en" %}{% else %}active{% endif %}"><a href="/">日本語</a></li>
                <li class="nav-item {% if page.lang == "en" %}active{% endif %}"><a href="/en" class="nav-link">English</a></li>
              </ul>
            </li>

            <li class="menu-header">ARCHIVE</li>
            <li {% if page.url contains '/cinemadays2025' %}class="active"{% endif %}><a class="nav-link" href="/cinemadays2025"><img src='/assets/icons/cinema_small.png' style="vertical-align: middle; margin-right: 12px;" width='20px' height='20px' /> <span>{% if page.lang != "en" %}パレスチナ映画祭2025{% else %}Cinema Days 2025{% endif %}</span></a></li>
          </ul>

          <div class="sidebar-brand sidebar-gone-show"><img class="z-depth-0" width="120" style="padding: 0px;" src="{{site.baseurl}}/assets//downloads/BDS_logo.png"></div>

        </aside>
      </div>
