@media (max-width: 599px) {
  ul.afzIcons {
    display: table;
    margin: 0 auto;
    padding-right: 40px;
  }
}

#legend li {
  display: inline;
  list-style-type: none;
  padding-left: 8px;
  padding-right: 8px;
}

span {
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 5px;
}
