.avatar {
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.whats-afz-footer {
  position: fixed;
  left: 0;
  bottom: 55px;
  width: 100%;
  background-image:url('/assets/img/top_bg.png');
  color: white;
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .whats-afz-footer {
    left: 300px
  }
}

@media (min-width: 361px) {
  table.afzIcons {
    width: 320px
  }
}

@media (max-width: 360px) {
  table.afzIcons {
    width: 100%
  }
}

#legend li {
  display: inline;
  list-style-type: none;
  padding-left: 8px;
  padding-right: 8px;
}

span {
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 5px;
}
