html {
  scroll-padding-top: 32px;
}
.cinemaday-heading {
  display: flex;;
  flex-direction: row-reverse;
  width: 100%;
  margin-top: 32px;
  padding: 0px 24px;
  gap: 32px;
}
.cinemaday-heading-info {
  flex: 1;
}
.cinemaday-heading-notice {
  flex: 1;
}
.cinemaday-heading-notice .callout {
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 16px;
  border: 1px solid #d8d8d8;
  padding: 12px 40px 12px 8px;
}
.cinemaday-heading-notice .callout ul {
  font-size: 1.1em;
  line-height: 1.7;
}
.cinemaday-heading-notice .callout ul li {
  margin-bottom: 0.5em;
}
.link-locations {
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  color: #33477d;
  text-decoration: underline;
  text-underline-offset: 6px;
}
.link-locations:hover {
  color: #a32a34;
}
.link-movies {
  font-size: 1.3em;
  color: #33477d;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 6px;
  line-height: 1.8em;
}
.link-movies:hover {
  color: #a32a34;
}
.movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  height: auto;
  margin: 0 32px 128px;
  padding-top: 8px;
  column-gap: 32px;
  row-gap: 16px;
  border-top: 3px solid #33477d;
}
.movie-keyvisual {
  flex: 4;
  margin: 0;
}
.movie-keyvisual img {
  max-width: 100%;
  max-height: 400px;
}
.movie-info {
  flex: 6;
  font-size: 1.1em;
}
.movie-info h3 {
  margin: 0;
  font-size: 1.9em;
}
.movie-info h3 span {
  margin-bottom: 2px;
  margin-left: 0;
  padding: 4px 8px;
  font-weight: bold;
  background-color: #a4ffb0;
  color: #33477d;
}
.year-length {
  font-size: 1.2em;
  margin-top: 0.2em
}
.description {
  line-height: 1.7;
}
.description-callout {
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  padding: 16px;
  font-size: 0.9em;
  color: #5a5a5a;
  margin-bottom: 32px;
}
.description-callout strong {
  font-weight: bold;
}
.description-callout p {
  margin-top: 8px;
  margin-bottom: 8px;
}
.cinemaday-appendix h6 {
  margin: 80px auto 24px;
}
.news-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 16px 60px;
}
.news-item a {
  font-weight: normal;
  max-width: 640px;
  padding: 20px 24px;
  border: 2px solid #d8d8d8;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  color: #5a5a5a;
  text-decoration: none;

}
.news-item a:hover {
  border: 2px solid #333;
  text-decoration: none;
}
.news-item .info .media {
  font-size: 0.86em;
  margin-bottom: 4px;
}
.news-item .info .media img {
  vertical-align: middle;
  position: relative;
  top: -0.1em;
}
.news-item .info .media strong {
  font-weight: bold;
}
.news-item .info .title {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #33477d;
}
.news-item .info .description {
  font-size: 0.9em;
  line-height: 1.4;
  color: #5a5a5a;
}
.news-item .thumbnail img {
  width: 160px;
}
@media only screen and (max-width: 992px) {
  .cinemaday-heading {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .callout {
    padding: 8px 20px 8px 0px;
  }
  .callout ul {
    font-size: 1.0em;
  }
  .movie {
    flex-direction: column;
    margin: 0 16px;
    align-items: initial;
  }
  .movie-keyvisual {
    flex: 1;
  }
  .movie-keyvisual img {
    max-width: 50%;
    height: auto;
  }
  .movie-info {
    flex: 1;
  }
  .movie-info h3 {
    font-size: 1.5em;
  }
  .year-length {
    font-size: 0.9em;
  }
  .news-item .thumbnail img {
    display: none;
    width: 80px;
  }
}