/* Style the button that is used to open and close the collapsible content */

.collapsible {
  background-color: #029455;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover, .collapsible:focus {
  background-color: #029455;
  color: #fff;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\025BC';
  font-size: 14px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25B2";
}
