/* Style buttons */
.btnic {
  background-color: #029455;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btnic:hover {
  background-color: #029455;
}

.btnic:focus {
  background-color: #029455;
}
