.link-item .link {
    border: 1px solid #d8d8d8;
}
.link-item .link:hover {
    border: 1px solid #333;
}

.jsCalendar.clean-theme tbody td.jsCalendar-next,
.jsCalendar.clean-theme tbody td.jsCalendar-previous {
    color: #000;
    opacity: 0.2;
}
#wrapper {
    margin: 0 auto;
    width: 600px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    margin: 16px;
    padding: 10px;
}
#wrapper .jsCalendar table {
    box-shadow: none;
}
.clear {
    clear: both;
}
#events-calendar {
    float: left;
}
#events {
    float: left;
    width: 235px;
    margin: 10px 20px 10px 5px;
}
#events .title {
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    color: #a32a34;
}
#events .subtitle {
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    color: #888;
}
#events .list {
    height: 250px;
    overflow-y: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#events .list .event-item {
    line-height: 24px;
    min-height: 24px;
    padding: 2px 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#events .list .event-item .close {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000;
    border-radius: 8px;
    height: 14px;
    width: 14px;
    line-height: 12px;
    text-align: center;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 5px;
    display: block;
    overflow: hidden;
    background: #F44336;
    cursor: pointer;
}
