.c8 {
border-color:#000;
border-style:solid;
border-width:0;
padding:5pt;
vertical-align:middle
}

c14,.c29,.c22,.c19 {
border-color:#000;
border-style:solid;
border-width:0;
padding:5pt;
vertical-align:top
}

.c9 {
background-color:#05a558;
color:#fff;
font:18pt Arial;
text-decoration:none;
vertical-align:baseline
}

.c17 {
background-color:#ee2c48;
color:#fff;
font:18pt;
text-decoration:none;
vertical-align:baseline
}

.c3 {
color:#000;
font:700 11pt;
text-decoration:none;
vertical-align:baseline
}

.c0 {
color:#000;
font:400 11pt;
text-decoration:none;
vertical-align:baseline
}

.c1 {
line-height:1.4;
padding-bottom:0;
padding-top:0;
text-align:justify;
}

.c10 {
line-height:1.4;
orphans:2;
padding-bottom:0;
padding-top:0;
text-align:center;
widows:2
}

.c13 {
font:11pt;
text-decoration:none;
vertical-align:baseline
}

.c18 {
border-collapse:collapse;
border-spacing:0;
margin-right:auto
}

.c26 {
line-height:1;
padding-bottom:0;
padding-top:0;
text-align:center
}

.c4 {
line-height:1;
padding-bottom:0;
padding-top:0;
text-align:justify
}

.c25 {
background-color:#05a558;
color:#fff
}

.c11 {
background-color:#a52833;
color:#fff
}

.c20 {
background-color:#ee2c48;
color:#fff
}

.c12 {
color:#05a558
}

.c24 {
color:#a52833
}

.c15 {
height:0
}

.c31 {
font-weight:400
}

.c6 {
font-weight:700
}

.c30 {
font-size:18pt
}
