table.afz-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

table.afz-table th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table.afz-table th {
  background-color: #029455;
  color: white;
  font-weight: bold;
}

table.afz-table td {
  background-color: #f9f9f9;
}

table.afz-table tr:nth-child(even) td {
  background-color: #f1f1f1;
}

/* Styling the table borders */
table.afz-table tr:first-child th {
  border-top: none;
}

table.afz-table td, th {
  border-left: 1px solid #ddd;
}

table.afz-table td:last-child, th:last-child {
  border-right: 1px solid #ddd;
}

/* more css */
/* Style buttons */
.btnic {
  background-color: #029455;
  border: none;
  color: white;
  padding: 6px 20px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btnic:hover {
  background-color: #029455;
}

.btnic:focus {
  background-color: #029455;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid #029455;
    box-shadow: 0 1px 0 0 #029455;
    margin: 0 0 8px 0;
    height: 2.7rem;

}
