#legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10px;
  column-gap: 16px;
  row-gap: 8px;
}

#legend li {
  display: inline;
  list-style-type: none;
}

#legend li a .badge {
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle; font-size: 11px;
  line-height: 20px;
  margin-bottom: 0px;
  color: #6c757d;
}

span {
  vertical-align: top;
  margin-top: 0px;
}

.nearby-map {
  top: 10px;
  right: .5em;
}

.lets-make-map {
  top: 10px;
  left: 2.5em;
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.afz-in-japan {
  bottom: 120px;
  right: 2.5em;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.around-the-world {
  bottom: 40px;
  right: 2.5em;
  @media screen and (max-width: 800px) {
    display: none;
  }
}
