#legend li {
  display: inline;
  list-style-type: none;
  padding-right: 16px;
}

span {
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 5px;
}

.nearby-map {
  top: 10px;
  right: .5em;
}
