ul.profile-social-link {
  background: #a32a34;
  display: flex;
  flex-direction: row;
  /* Below sets up your display method, ex: flex-start|flex-end|space-between|space-around */
  justify-content: center;
  /* Below removes bullets and cleans white-space */
  list-style: none;
  padding: 0;
  /* Bonus: forces no word-wrap */
  white-space: nowrap;
}

ul.profile-social-link li {
  flex: 1 1 auto;
}

ul.profile-social-link li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.side-nav .logo {
  display: flex;
  flex-direction: row;
  /* Below sets up your display method, ex: flex-start|flex-end|space-between|space-around */
  justify-content: space-around;
  /* Below removes bullets and cleans white-space */
  list-style: none;
  padding: 0;
  /* Bonus: forces no word-wrap */
  white-space: nowrap;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
  line-height: none;
}
